body{
  color: #grey;
  background-color: yellow;
}

p{
  font-size: 14;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 500px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

h2{
  padding: 50px;
  border: 1px solid #5D6063;
  color:grey;
}
