* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  color: #black;
  font: sans-serif;
}

p{
  font-size: 14;
  font: sans-serif;
  color: black;
}

.ContactLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 500px;
  background-color: #f1f1f1;
}
.presentation{
  border: 1px solid #fff;  /* For debugging */
  display: flex;
  justify-content: center;
  background-color:blue:
}

.Experience{
  width: 900px;
  display: flex;
  justify-content: center;    /* Change this */
  flex-wrap: wrap;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

h2{
  color:grey;
}
